<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h3>Serach user from github</h3>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <%= form_with url: "/user_searches", method: :get do |form| %>
        <div class="row">
          <div class="col-3 offset-md-3 offset-lg-3 text-right">
            <%= form.text_field :query , class: 'form-control', placeholder: "Username", required: true%>
          </div>
          <div class="col-6 text-left">
            <%= form.submit "Search", class: 'button btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>